---
import { Icon } from 'astro-icon/components';
---

<nav class='relative'>
	<div class='md:hidden text-right pe-2'>
		<!-- Mobile Menu -->
		<button id='toggleButton' '>
			<Icon id='burger' name='burgerIcon' class=`text-5xl   ` />
			<Icon id='close' name='closeIcon' class=`text-5xl hidden ` />
		</button>
		<!-- <MenuListMobile /> -->
	</div>
</nav>
