---
import { Icon } from 'astro-icon/components';
---

<footer class='w-screen flex-in-full'>
	<div
		class='flex justify-around w-full flex-wrap text-5xl text-[clamp(1rem, 10vw, 3rem)] max-text-5xl sm:text-5xl'
	>
		<Icon name='facebook' />
		<Icon name='twitter' />
		<Icon name='youtube' />
		<Icon name='instagram' />
	</div>
</footer>
