---
import BurgerMenu from './BurgerMenu.astro';
---

<header class='relative'>
	<h1 class='font-Ubuntu text-5xl font-bold ps-2'>LOVE RUNNING</h1>
	<div class='fixed top-0 right-0'>
		<!-- interactive burger icon -->
		<BurgerMenu />
	</div>
</header>
