---
import BurgerMenu from './BurgerMenu.astro';
---

<header
	class='sticky top-0 text-[#252525] shadow-[0_00px_2px_2px_rgba(0,0,0,0.3)] bg-white flex items-center justify-between'
>
	<a href='/'>
		<h1
			class='font-Oswald uppercase text-[10vw] sm:text-5xl font-bold ps-2 text-[#252525] tracking-[2px]'
		>
			LOVE RUNNING
		</h1>
	</a>
	<div class=''>
		<!-- interactive burger icon -->
		<BurgerMenu />
	</div>
</header>
