---

---

<section
	id='hero'
	class='relative w-screen h-[37.5rem] bg-cover bg-no-repeat bg-center bg-[url("src/assets/images/hero-image.webp")]'
>
	<article
		class='font-Oswald uppercase
		text-[130%] font-bold text-white
		bg-[rgba(241,109,107,.7)] w-[80%] absolute
		bottom-[30px] md:right-[50px] md:w-[18.75rem]'
	>
		<h2 class='ps-2 text-[140%] tracking-[2px]'>LOVE RUNNING</h2>
		<div class='ps-2'>
			<h3>Dublin</h3>
			<h3>Docklands &</h3>
			<h3>Phoenix Park</h3>
		</div>
	</article>
</section>
