---
import Card from './Card.astro';
---

<section class='my-5 mx-auto w-[90%]'>
	<h2 class='text-[280%] uppercase mb-5 text-center'>
		Why Love Running With us?
	</h2>
	<div class='w-full lg:flex'>
		<div id='healthyBenefits' class='lg:order-1 flex flex-col'>
			<Card
				title='feel healthy'
				icon='heart'
				description='Since it improves aerobic fitness, running is a great way to help improve your cardiovascular health. Plus, it burns calories and can build strength.'
				position=''
			/>
			<Card
				title='FEEL STRONG'
				icon='dumbbell'
				description='Running strengthens your heart by pumping blood more effectively through your body.'
				position=''
			/>
		</div>

		<div id='physicalBenefits' class='lg:order-3 flex flex-col items-end'>
			<Card
				title='FEEL Free'
				icon='ballon'
				description='Physical exercise, running included, is known to release endorphins in the brain. Endorphins make you more energetic, more awake and, yes, happier.'
				position='md:items-end '
			/>
			<Card
				title='GET SOCIAL'
				icon='globe'
				description='When we run with others, we can run farther and faster more easily. Social running can pull you out of a running funk or low mood, and inspire you to try new events.'
				position='md:items-end'
			/>
		</div>
		<div class='lg:order-2 mt-4 w-full h-[30vw] flex justify-center'>
			<img
				src='/assets/images/runner.webp'
				alt='Runner'
				class='rounded-full h-full'
			/>
		</div>
	</div>
	<!-- <div class='grid md:grid-cols-4 lg:grid-rows-3 lg:grid-cols-9'>
		<Card
			title='feel healthy'
			icon='heart'
			description='Since it improves aerobic fitness, running is a great way to help improve your cardiovascular health. Plus, it burns calories and can build strength.'
			position='md:col-start-1 md:col-end-4 lg:col-span-3 lg:row-span-1 lg:col-start-1 lg:row-start-1'
		/>
		<Card
			title='FEEL STRONG'
			icon='dumbbell'
			description='Running strengthens your heart by pumping blood more effectively through your body.'
			position='md:col-start-1 md:col-end-4   lg:col-start-1 lg:col-end-4 lg:row-start-2'
		/>
		<Card
			title='FEEL Free'
			icon='ballon'
			description='Physical exercise, running included, is known to release endorphins in the brain. Endorphins make you more energetic, more awake and, yes, happier.'
			right='text-right'
			position='md:col-start-2 md:col-end-5 lg:col-start-7 lg:col-end-10 lg:row-start-1'
		/>
		<Card
			title='GET SOCIAL'
			icon='globe'
			description='When we run with others, we can run farther and faster more easily. Social running can pull you out of a running funk or low mood, and inspire you to try new events.'
			right='text-right'
			position='md:col-start-2 md:col-end-5 lg:col-start-7 lg:col-end-10 lg:row-start-2'
		/>
		<div
			class='mt-4 w-full h-[30vw] flex justify-center md:col-start-2 md:col-end-4 lg:col-start-3 lg:col-end-8 lg:row-start-1 lg:row-end-4'
		>
			<img
				src='/assets/images/runner.webp'
				alt='Runner'
				class='rounded-full h-full'
			/>
		</div>
	</div> -->
</section>
