---
interface Props {
	title: string;
}
import '../styles/globals.css';
import '../styles/fonts.css';
import Header from '../components/Header.astro';
const { title } = Astro.props;
---

<!-- <link rel='stylesheet' href='src/styles/globals.css' />
import '../styles/fonts.css'; -->
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<!-- Meta tags for search engines -->
		<meta
			name='description'
			content='Love Running, Club for runners in Dublin Ireland,Urban running, trail running. Dublin docklands and Phoenix Park'
		/>
		<!-- Keywords -->
		<meta
			name='keywords'
			content='love running, run, running club, runners, Ireland, Dublin, sport, exercise'
		/>
		<!-- Favicons -->
		<link
			rel='apple-touch-icon'
			sizes='180x180'
			href='/assets/favicon/apple-touch-icon.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/assets/favicon/favicon-32x32.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='16x16'
			href='/assets/favicon/favicon-16x16.png'
		/>
		<!-- Dynamic Title -->
		<title>{title}</title>
	</head>
	<!-- Body is taking the full screen height -->
	<body class='h-screen'>
		<Header />
		<!-- Main is taking the full body height -->
		<main class='h-full font-Lato'>
			<slot />
		</main>
	</body>
</html>
